<div class="widget volus-instgaram">
    <div class="container">
        {% assign url     = '{{image}}' %}
        {% assign caption = '{{caption}}' %}
        {% assign link    = '{{link}}' %}
        {% assign id      = '{{id}}' %}
        {% assign width   = '{{width}}' %}
        {% assign height  = '{{height}}' %}

        <div id="instagram-card" class="volus-instgaram--container">
            {% if settings.enable_instagram_widget_title %}
                <h3 class="widget-title {{ settings.instagram_widget_title_align | escape }}">
                    <a href="http://instagram.com/{{ settings.instagram_name }}" target="_blank">
                        {{ settings.instagram_widget_title | escape }}
                        {% if settings.show_instagram_name %}
                            <small class="widget-title--user">{{ settings.instagram_name | escape }}</small>
                        {% endif %}                        
                    </a>
                </h3>
            {% endif %}        
            <div id="instafeed" class="row"></div>
            {{ 'instafeed.min.js' | asset_url | script_tag }}
            <script>
                var feed = new Instafeed({
                    get: 'user',
                    userId: {{ settings.instagram_user_id }},
                    accessToken: '{{ settings.instagram-access-token }}',
                    limit: {{ settings.instagram_limit }},
                    resolution: 'low_resolution',
                    template: '<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 instgaram-item"> <a href="{{link}}" rel="ig" target="_blank" class="instgaram-item--image"> <img class="images lazy" data-original="{{ url }}" id="{{id}}" alt="{{caption}}" height="{{height}}" width="{{width}}" /> <span class="caption"><span class="caption-inside"> <i class="flaticon social instagram"></i></span></span> </a></div>'
                });
                feed.run();
            </script>
        </div>
    </div>
</div>
