<div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="lnr lnr-cross" aria-hidden="true"></span>          
        </button>
      </div>
    </div>	
    
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">     

      {% for link in linklists.main-menu.links %}        
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                  <span class="lnr lnr-chevron-down" aria-hidden="true"></span>                  
                </button>
                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                  <span class="lnr lnr-chevron-up" aria-hidden="true"></span>                  
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <!-- //mobile-nav -->
</div>