<div class="{{ product_image_width }}">
    <div class="list__item_image">
        <div class="list__item_picture">
            <a class="grid-view-item__picture_link" href="{{ product.url | within: collection }}">
                <img class="list-view-item__image lazy" src="{{ product.featured_image.src | img_url: product_image_size }}" alt="{{ product.featured_image.alt | escape }}">
            </a>
        </div>         
        {% if section.settings.show_product_label %}
            {% if product.compare_at_price > product.price %}
                <div class="list__item_label">
                    <div class="list__item__on-sale">
                        <span>{{ 'products.product.on_sale' | t }}</span>
                    </div>
                </div>
            {% endif %}
            {% unless product.available %}
                <div class="list__item_label">
                    <div class="list__item__sold-out">
                        <span>{{ 'products.product.sold_out' | t }}</span>
                    </div>
                </div>
            {% endunless %} 
        {% endif %}
    </div>
</div>
<div class="{{ product_description_width }}">
    <div class="product-card-list list__item__column display-table">  
        <div class="display-table-cell">
            <h4 class="list__item_title">
                <a class="grid-view-item__link" href="{{ product.url | within: collection }}">
                    {{ product.title }}
                </a>            
            </h4> 
            <div class="list__item_price product-price">
                {% include 'product-price' %}
            </div> 
            <div class="list__item_description description rte">
                <p>{{ product.description | strip_html | truncatewords: 50 }}</p>
            </div>
            {% if section.settings.show_vendor %}
                <div class="list__item__vendor label-text">
                    <span>{{ product.vendor }}</span>
                </div>
            {% endif %}
        </div>          
    </div>
</div>