{%- assign limit = section.settings.products_per_page -%}

{% case section.settings.col_width %}
    {% when 'small' %}
        {%- assign product_sidebar_width = 'col-lg-3 col-md-3 col-sm-12 sidebar__small' -%}
        {%- assign product_collection_width = 'col-lg-9 col-md-9 col-sm-12 collection__small' -%}
        {%- assign product_image_width = 'col-lg-4 col-md-4 col-sm-12' -%}                                                 
        {%- assign product_description_width = 'col-lg-8 col-md-8 col-sm-12' -%}   
        {%- assign product_image_size = '508x658' -%}         
    {% when 'large' %}
        {%- assign product_sidebar_width = 'col-lg-4 col-md-4 col-sm-12 sidebar__large' -%}       
        {%- assign product_collection_width = 'col-lg-8 col-md-8 col-sm-12 collection__large' -%}                                                 
        {%- assign product_image_width = 'col-lg-3 col-md-3 col-sm-12' -%}                                                 
        {%- assign product_description_width = 'col-lg-9 col-md-9 col-sm-12' -%}   
        {%- assign product_image_size = '371x480' -%}      
{% endcase %}

{% paginate collection.products by limit %}
    <section id="{{ section.id }}" class="container collection-template">    
        {% include 'collection-header' %}   
        <div class="collection-body">
            <div class="row">                    
               {% if section.settings.sidebar_layout == 'left' %}
                    <aside class="{{ product_sidebar_width }} sidebar_{{ section.settings.sidebar_layout }}">
                        {% include 'collection-sidebar' %}
                    </aside> 
                    <aside class="{{ product_collection_width }} collection_is_sidebar collection_{{ section.settings.sidebar_layout }}">
                        {% include 'product-loop-list' %}                       
                    </aside> 
                {% endif %}                             

               {% if section.settings.sidebar_layout == 'fullwidth' %}
                    <aside class="col-lg-12 col-md-12 col-sm-12 collection__fullwidth">                    
                        {% include 'product-loop-list' %}                          
                    </aside>                        
               {% endif %} 

               {% if section.settings.sidebar_layout == 'right' %}
                    <aside class="{{ product_collection_width }} collection_is_sidebar collection_{{ section.settings.sidebar_layout }}">
                        {% include 'product-loop-list' %}                            
                    </aside>
                    <aside class="{{ product_sidebar_width }} sidebar_{{ section.settings.sidebar_layout }}">
                        {% include 'collection-sidebar' %}
                    </aside> 
                {% endif %}  
            </div>
            {% if section.settings.show_collection_pagination and paginate.pages > 1 %}
                {% include 'pagination' %}
            {% endif %}
        </div>
    </section>
{% endpaginate %}

{% schema %}
{
    "name": "Collection List Page",
    "class": "shopify-section__collection-list-template",
    "settings": [{
        "type": "checkbox",
        "id": "show_breadcrumb",
        "label": "Show Breadcrumb",
        "default": true
    }, {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show Collection Image",
        "default": true
    }, {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show Product Vendors",
        "default": false
    }, {
        "type": "checkbox",
        "id": "show_product_label",
        "label": "Show Product Label",
        "default": true
    }, {
        "type": "checkbox",
        "id": "show_collection_pagination",
        "label": "Show Pagination",
        "default": true
    }, {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable Sorting",
        "default": true
    }, {
        "type": "checkbox",
        "id": "collection_view_layout_enable",
        "label": "Enable Collection View",
        "default": true
    }, {
        "type": "checkbox",
        "id": "tags_enable",
        "label": "Enable Tag Filtering",
        "default": true
    }, {
        "type": "checkbox",
        "id": "show_sidebar_categires",
        "label": "Sidebar - Show Categories",
        "default": true
    }, {
        "type": "checkbox",
        "id": "show_sidebar_types",
        "label": "Sidebar - Show Product Types",
        "default": true
    }, {
        "type": "checkbox",
        "id": "show_sidebar_vendors",
        "label": "Sidebar - Show Vendors",
        "default": true
    }, {
        "type": "checkbox",
        "id": "show_sidebar_tags",
        "label": "Sidebar - Show Product Tags",
        "default": true
    }, {
        "type": "select",
        "id": "products_per_page",
        "options": [
            { "value": "4", "label": "4 Products" },
            { "value": "8", "label": "8 Products" },
            { "value": "12", "label": "12 Products" },
            { "value": "16", "label": "16 Products" },
            { "value": "20", "label": "20 Products" },
            { "value": "42", "label": "42 Products" }
        ],
        "label": "Products per page (list only)",
        "default": "4"
    }, {
        "type": "select",
        "id": "sidebar_layout",
        "label": "Product Layout",
        "default": "fullwidth",
        "options": [{
            "value": "left",
            "label": "Product Sidebar Left"
        }, {
            "value": "right",
            "label": "Product Sidebar Right"
        }, {
            "value": "fullwidth",
            "label": "Product full-width"
        }]
    }, {
        "type": "select",
        "id": "col_width",
        "label": "Sidebar Column Size",
        "default": "large",
        "options": [{
            "value": "small",
            "label": "Small"
        }, {
            "value": "large",
            "label": "Large"
        }]
    }]
}
{% endschema %}