<div id="{{ section.id }}" class="shopify-section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="{{ section.id }}-section">    
    <div class="container">
        {% if section.settings.title != blank and section.settings.show_title %}
            <div class="section-header text-center">
                <h3 class="section-title">
                    <span>{{ section.settings.title | escape }}</span>                    
                </h3>
                {% if section.settings.show_description %}
                    <div class="section-description">
                        {{ section.settings.description }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="section-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    {% if section.blocks.size > 0 %}
                        <ul class="list-unstyled list-services" data-count="{{ section.blocks.size }}">                
                            {% for block in section.blocks limit:3 %}       
                                <li>
                                    <h3 class="list-services__title">{{ block.settings.title }}</h3>
                                    <div class="list-services__price">
                                        <span>{{ block.settings.price }}</span>
                                    </div>
                                    <div class="list-services__description">
                                        {{ block.settings.description }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}          
                    {% if section.blocks.size == 0 %}
                        {% include 'no-blocks' %}
                    {% endif %}         
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    {% if section.blocks.size > 0 %}
                        <ul class="list-unstyled list-services" data-count="{{ section.blocks.size }}">                
                            {% for block in section.blocks limit:3 offset:3 %}       
                                <li>
                                    <h3 class="list-services__title">{{ block.settings.title }}</h3>
                                    <div class="list-services__price">
                                        <span>{{ block.settings.price }}</span>
                                    </div>
                                    <div class="list-services__description">
                                        {{ block.settings.description }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}          
                    {% if section.blocks.size == 0 %}
                        {% include 'no-blocks' %}
                    {% endif %}         
                </div>
            </div> 
        </div>           
    </div>
</div>


{% schema %}
    {
    "name": "Services",
    "class": "index-section",
    "max_blocks": 6,
    "settings": [
    {
        "type": "checkbox",
        "id": "show_title",
        "label": "Show Title",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "show_description",
        "label": "Show Description",
        "default": true
    },
    {
        "type": "checkbox",
        "id": "show_button",
        "label": "Show Button",
        "default": true
    },
    {
        "type": "text",
        "id": "title",
        "default": "Services & Price List",
        "label": "Title"
    },
    {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Hair Care Treatment Services</p>"
    },
    {
        "type": "text",
        "id": "button_label",
        "label": "Button label",
        "default": "All services"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
    }],

    "blocks": [
      {
        "type": "services",
        "name": "Services",
        "limit": 6,
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Woman’s Shampoo, Cut & Style"
            },
            {
                "type": "text",
                "id": "price",
                "label": "Price",
                "default": "€34+"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description",
                "default": "<p>All haircuts include a consultation, shampoo, haircut, and blow dry & style.</p>"
            }
        ]
      }
    ],

    "presets": [
      {
        "name": "Services",
        "category": "Text",
        "blocks": [
          {
            "type": "services"
          }          
        ]
      }
    ]
}
{% endschema %}